#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://wallpapercat.com/w/full/5/4/c/14971-1920x1080-desktop-1080p-game-of-thrones-wallpaper.jpg')
}

#titulo_consulta{
    font-size: xx-large;
    color: rgb(255, 255, 255);
}

#input_personaje{
    width: 70%;
    height: 30px;
    border-radius: 10px;
    font-size: x-large;
    padding-left: 15px;
    font-family: 'Courier New', Courier, monospace;
}

#button_search{
    width: 40%;
    height: 30px;
    border-radius: 8px;
    margin-top: 15px;
    font-size: larger;
}

#personaje_information{
    width: 80%;
    height: 500px;
    background-color: rgb(50, 71, 99);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#informacion_pj{
    color: rgb(255, 255, 255);
}

#show_info{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    flex-direction: column;
    margin-bottom: 3px;
    margin-top: 3px;
    border-radius: 10px;
}